# Virtual environment
venv/

# Git directory
.git/

# React frontend
React-frontend/
!React-frontend/src/
!React-frontend/public/

# Python cache
__pycache__/

# Node modules
node_modules/

# Next.js build output
.next/

# PyCharm cache
.idea/

# VS Code settings
.vscode/